doctype html
html()
	head
		title !{title}
		script.
			SIDE = 'client';
			function loader(){
				var loader =  document.getElementById('loader');
				loader.className += " hide";
				setTimeout(function(){
					loader.parentNode.removeChild(loader);
				},500);
			}
			window.__INITIAL_STATE__ = !{JSON.stringify(initialState)}
		link(rel="stylesheet" type="text/css" href="#{url}/css/loader.css")
		link(rel="stylesheet" type="text/css" href="#{url}/css/theme.css")
	body(onload="loader()")
		#loader.loading
			.loader
		div#application !{app}
		script(src='#{url}/js/bundle.js', type='text/javascript')
		